:root {
   --logo-color: #2196f3;
   --logo-second-color: #212121;
   --logo-third-color: #ffffff;

   --main-color: #212121;
   --main-second-color: #757575;
   --main-third-color: #ffffff;
   --link-footer-color: rgba(255, 255, 255, 0.6);

   --base-background: #ffffff;
   --hero-background: #2f303a;
   --team-background: #f5f4fa;
   --footer-background: #2f303a;

   --button-hero-background: #2196f3;
   --button-background: #f5f4fa;

   --action-color: #2196f3;
   --action-second-color: #ffffff;
   --action-button-background: #2196f3;
   --action-button-second-background: #188ce8;

   --border-color: #eeeeee;

   --hero-second-background: #c4c4c4;

   --features-background: #f5f4fa;

   --color-soc-icon: #afb1b8;

   --footer-second-background: rgba(255, 255, 255, 0.1);
}

body {
   font-family: "Roboto", sans-serif;
   color: var(--main-color);
   background-color: var(--base-background);
}

ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

p {
   margin: 0;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

.container {
   width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
   /* outline: 1px solid tomato; */
}

/* Секція "header" */
.container-flex,
.nav,
.nav-list,
.contact-list {
   display: flex;
   align-items: center;
}
.contact-list {
   margin-left: auto;
}
.nav-item:not(:last-child) {
   margin-right: 50px;
}
.contact-item:not(:last-child) {
   margin-right: 30px;
}

.logo {
   margin-right: 93px;

   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   text-decoration: none;
   color: var(--logo-color);
}
.logo .logo-header {
   color: var(--logo-second-color);
}
.nav-link,
.contact-link {
   position: relative;

   display: flex;
   align-items: center;
   padding-top: 32px;
   padding-bottom: 32px;

   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   text-decoration: none;

   color: var(--main-color);

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link {
   color: var(--main-second-color);
}
.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
   color: var(--action-color);
}
.current {
   color: var(--action-color);
}
.nav-link.current::after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 4px;
   border-radius: 2px;
   background-color: var(--action-color);
}

.contact-icon {
   fill: currentColor;
   margin-right: 10px;
}

/* Секція "hero" */
.hero {
   background-color: var(--hero-second-background);
   text-align: center;
   padding: 200px 0px;
   max-width: 1600px;
   margin: 0 auto;

   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
   background-repeat: no-repeat;
   background-position: 50% 50%;
}

.hero-caption {
   width: 696px;
   margin: 0px auto;
   margin-bottom: 30px;

   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: var(--main-third-color);
}
.hero-btn {
   padding: 10px 32px;
   border: none;
   font-family: inherit;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   text-align: center;
   letter-spacing: 0.06em;
   color: var(--main-third-color);
   cursor: pointer;

   background-color: var(--button-hero-background);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
   background-color: var(--action-button-second-background);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Секція "feature", Особливості */

/* .visually-hidden прибирає заголовок h2 - "Особливості" */
.visually-hidden {
   position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
}
.features {
   padding: 94px 0px;
}
.features-list {
   display: flex;
}
.features-item {
   width: calc((100%-90px) / 4);
}
.features-item:not(:last-child) {
   margin-right: 30px;
}
.features-icon-box {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 120px;
   margin-bottom: 30px;
   background: var(--features-background);
   border-radius: 4px;
}
.features-title {
   margin-bottom: 10px;

   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}
.features-subtitle {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: var(--main-second-color);
}

/* Секція "product. Чим ми займаємося*/
.product {
   padding-bottom: 94px;
}
.product-caption {
   margin-bottom: 50px;

   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   text-align: center;
   letter-spacing: 0.03em;
}
.product-list {
   display: flex;
}
.product-item {
   position: relative;
}
.product-item:not(:last-child) {
   margin-right: 30px;
}
.product-tittle {
   position: absolute;
   bottom: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 70px;

   font-weight: 700;
   font-size: 14px;
   line-height: 1.43;
   text-transform: uppercase;
   letter-spacing: 0.03em;

   color: var(--main-third-color);
   background-color: rgba(47, 48, 58, 0.8);
}
/* Секція "team", Наша команда */
.team {
   padding: 94px 0px;

   background-color: var(--team-background);
}
.team-caption {
   margin-bottom: 50px;

   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   text-align: center;
   letter-spacing: 0.03em;
}
.team-list {
   display: flex;
   justify-content: space-between;
}
.team-item {
   background-color: var(--base-background);

   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
}
.team-title-subtitle-icon {
   padding: 30px 0px;
}
.team-title,
.team-subtitle {
   margin-bottom: 10px;

   font-weight: 500;
   font-size: 16px;
   line-height: 1.18;
   text-align: center;
   letter-spacing: 0.03em;
}
.team-subtitle {
   margin-bottom: 16px;

   font-weight: 400;
   color: var(--main-second-color);
}

.soc-list {
   display: flex;
   justify-content: center;
   gap: 10px;
}
/* .soc-item {
} */
.soc-link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 44px;
   height: 44px;
   border-radius: 50%;
   background-color: var(--base-background);
   color: var(--color-soc-icon);

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-icon {
   fill: currentColor;
}
.soc-link:hover,
.soc-link:focus {
   background-color: var(--action-color);
   color: var(--action-second-color);
}

/* Секція "client. Постійні клієнти*/
.client {
   padding-top: 94px;
   padding-bottom: 94px;
}
.client-caption {
   margin-bottom: 50px;

   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   text-align: center;
   letter-spacing: 0.03em;
}

.client-list {
   display: flex;
   justify-content: center;
   gap: 30px;
}
/* .client-item {
} */
.client-link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 170px;
   height: 92px;
   border-radius: 4px;
   border: 1px solid #afb1b8;
   color: var(--color-soc-icon);

   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-icon {
   fill: currentColor;
}
.client-link:hover,
.client-link:focus {
   border-color: currentColor;
   color: var(--action-color);
}

/* Секція "footer" */
.footer {
   padding: 60px 0px;

   background-color: var(--footer-background);
}
.footer-box {
   display: flex;
   align-items: baseline;
}
.footer-item {
   margin-right: 70px;
}

.logo-bottom {
   display: block;
   margin-right: 0px;
   margin-bottom: 20px;
}
.logo-footer {
   color: var(--logo-third-color);
}
.address-item {
   margin-bottom: 10px;
}
.address-item:last-child {
   margin-bottom: 0px;
}
.address-link {
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: var(--link-footer-color);
   text-decoration: none;

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link.map {
   color: var(--main-third-color);
}
.address-link:hover,
.address-link:focus {
   color: var(--action-color);
}

.footer-title {
   margin-bottom: 20px;

   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--main-third-color);
}

.soc-link.soc-link-footer {
   background-color: var(--footer-second-background);
   color: var(--base-background);
}
.soc-icon.soc-link-footer {
   fill: currentColor;
}
.soc-link.soc-link-footer:hover,
.soc-link.soc-link-footer:focus {
   background-color: var(--action-color);
}
/* ----------------   Сторінка " Портфоліо (2-га сторінка)   ----------- "  */
.header-portfolio {
   border-bottom: 1px solid #ececec;
}

.projects {
   padding-top: 94px;
   padding-bottom: 94px;
}
/* фільтер */
.filter-list {
   display: flex;
   justify-content: center;

   margin-bottom: 50px;
}
.filter-item:not(:last-child) {
   margin-right: 8px;
}
.filter-btn {
   padding: 6px 22px;

   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.63;
   text-align: center;
   letter-spacing: 0.03em;
   cursor: pointer;

   background-color: var(--button-background);
   border-radius: 4px;
   border: none;
   box-shadow: none;

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn.first {
   padding: 6px 25px;
}
.filter-btn:hover,
.filter-btn:focus {
   color: var(--action-second-color);
   background-color: var(--action-button-background);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Список проектів */

.projects-list {
   display: flex;
   flex-wrap: wrap;
}
.projects-item {
   background: var(--base-background);
}
.projects-item:not(:nth-child(3n)) {
   margin-right: 30px;
}
.projects-item:not(:nth-last-child(-n + 3)) {
   margin-bottom: 30px;
}

.projects-link {
   display: block;
   text-decoration: none;

   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-link:hover {
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-thumb {
   position: relative;
   overflow: hidden;
}
.projects-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;

   padding: 63px 24px;

   font-weight: 400;
   font-size: 18px;
   line-height: 1.56;
   letter-spacing: 0.03em;

   color: var(--main-third-color);
   background-color: rgba(33, 150, 243, 0.9);

   transform: translateY(101%);

   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-link:hover .projects-overlay {
   transform: translateY(0%);
}

.projects-title-subtitle {
   padding: 20px 24px;

   border-right: 1px solid var(--border-color);
   border-bottom: 1px solid var(--border-color);
   border-left: 1px solid var(--border-color);
}
.projects-title {
   margin-bottom: 4px;

   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   color: var(--main-color);
}
.projects-subtitle {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.03em;
   color: var(--main-second-color);
}

/* Модальне вікно (спрацьовує при натисненні на кнопку) */
.backdrop {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;

   background-color: rgba(0, 0, 0, 0.2);

   visibility: visible;
   opacity: 1;

   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
   visibility: hidden;
   opacity: 0;

   pointer-events: none;
}
.modal {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(1);

   min-width: 528px;
   min-height: 581px;
   border-radius: 4px;

   background-color: var(--base-background);

   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
   transform: translate(-50%, -50%) scale(1.1);
   box-shadow: none;
}

.button-close-modal {
   position: absolute;
   top: 8px;
   right: 8px;
   display: flex;
   justify-content: center;
   align-items: center;

   width: 30px;
   height: 30px;
   border-radius: 50%;

   border: 1px solid rgba(0, 0, 0, 0.1);
   background-color: var(--base-background);
   color: #000000;

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close-modal {
   fill: currentColor;
}

.button-close-modal:hover,
.button-close-modal:focus {
   background-color: var(--color-soc-icon);
   color: var(--action-second-color);
}
